# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# =========================
# DJANGO
# =========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media uploads
media/

# Collected static files
staticfiles/

# =========================
# ENVIRONMENT VARIABLES
# =========================
.env
.env.*
!.env.example

# =========================
# VIRTUAL ENVIRONMENT
# =========================
venv/
.venv/
env/

# =========================
# IDE / EDITORS
# =========================

# VSCode
.vscode/

# PyCharm
.idea/

# =========================
# TESTS / COVERAGE
# =========================
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# =========================
# TYPE CHECKERS / LINTERS
# =========================
.mypy_cache/
.ruff_cache/

# =========================
# OS FILES
# =========================

# Linux
*~

# macOS
.DS_Store

# Windows
Thumbs.db

# =========================
# NODE / FRONTEND
# =========================
node_modules/

# =========================
# BUILD FILES
# =========================
dist/
build/