{% extends "base.html" %}
{% block title %}Task {{task.title }}{% endblock title %}
{% block content %}
<section>
<h2>
    Task: {{task.title}}
</h2>
<p>
    <a href="{% url 'projects:detail' task.project.id %}">
    Project: {{ task.project.title }}
    </a>
</p>
<p>
    Owner: {{ task.project.owner.username }}
</p>
<p>
    Description: {{ task.description }}
</p>
<p>
    Status:
    {% if task.is_completed %}
    Completed
    {% else %}
    In progress
    {% endif %}
</p>
<p>
    Due date: {{ task.due_date|date:"Y-m-d" }}
</p>
<p>
    Created at: {{ task.created_at|date:"Y-m-d H:i"}}
</p>
<p>
    Updated at: {{ task.updated_at|date:"Y-m-d H:i" }}
</p>
</section>
<section>
    <a href="{% url 'tasks:update' task.id %}">
        Update task
    </a>
    <a href="{% url 'tasks:delete' task.id %}">
        Delete Task
    </a>
</section>

{% endblock content %}